.run
packages
bin
Bin
obj
Obj
*.suo
AnybillWebClient/AnybillWeb/Errors/
*~
*ReSharper*
*resharper*
web.config
Web.config
AnybillSolution/PrecompiledWeb
*.sln.cache
config.yaml
*.csproj.user
*.csproj.DotSettings.user
Anybill.Specs.VisualState.xml
TestResult.xml
screenshot.png
userConfiguration.properties
/TestAutomation/Anybill.TestAutomation.VisualState.xml
log-file.txt
Logs
.run
\#*#
.DS_Store
Thumbs.db
precompiled
api
vendor
*dotCover*
AnybillWeb.sln.DotSettings.user
*.Publish.xml